<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_sql"
        android:label="${appLable}"
        android:roundIcon="@mipmap/ic_sql_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31"
        tools:replace="android:icon,android:roundIcon">
        <uses-library
            android:name="org.apache.legacy"
            android:required="false" />
        <activity
            android:name=".sqlf.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity-alias
            tools:replace="android:targetActivity"
            android:name="${applicationId}.main"
            android:targetActivity=".sqlf.MainActivity"/>
        <activity tools:node="remove"
            android:name=".MainActivity"/>
        <activity android:name=".sqlf.LoginActivity"
            android:parentActivityName=".sqlf.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".sqlf.MainActivity"/>


        </activity>
    </application>

</manifest>