<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_sqlite"
        android:label="${appLable}"
        android:roundIcon="@mipmap/ic_sqlite_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:targetApi="31"
        tools:replace="android:icon,android:roundIcon"
       >
        <activity
            android:name=".sqlitef.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity-alias
            android:name="${applicationId}.main"
            tools:replace="android:targetActivity"
            android:targetActivity=".sqlitef.MainActivity"/>
        <activity
            android:name=".MainActivity"
            tools:node="remove" />
        <activity android:name=".sqlitef.LoginActivity"
            android:parentActivityName=".sqlitef.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".sqlitef.MainActivity"
                />
    </activity>
    </application>

</manifest>